.sidebar {
  width: 220px;
  background:  #1da1d2;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
  color: white;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.sidebar li:hover {
  background: #334155;
}